
@{
    ViewBag.Title = "Create";
}

<h2>Add New Restaurant</h2>

<form action="/Home/Create" method="post">
    <div class="form-row">
      @*  <div class="form-group col-md-10">
            <label for="Id">Id</label>
            <input type="text" class="form-control" id="Id" placeholder="Id....." />
        </div>*@

        <div class="form-group col-md-8">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="Name" placeholder="Name....." />
        </div>

        <div class="form-group col-md-8">
            <label for="Type">Type</label>
            @*<input type="text" class="form-control" id="Type" placeholder="Type....." />*@
            
        <select class="form-control" id="Type" name="Type">
            <option value="">Select here Cuisine Type</option>
            <option value="Indian">Indian</option>
            <option value="Italian">Italian</option>
            <option value="French">French</option>
            <option value="None">None</option>

        </select>
        
        </div>
    </div>
        <button type="submit" class="btn btn-success">Add Restaurant</button>
        <a class="btn btn-dark" href="/Home/Index">Cancel</a>
</form>
